<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="headextra">
##	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
##	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</%block>
<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
      <header>
	<video playsinline autoplay muted loop  class="header-video">
		<source src="${static.url('eduonline-ing/images/video.mp4')}" type="video/mp4">
	</video>
        <div class="after_video"></div>
        ##<div class="outer-wrapper">
        ##  <div class="title">
        ##    <div class="heading-group">
        ##      % if homepage_overlay_html:
        ##        ${homepage_overlay_html | n, decode.utf8}
        ##      % else:
        ##        <%include file="index_overlay.html" />
        ##      % endif
        ##    </div>
        ##    % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
        ##      <div class="course-search">
        ##        <form method="get" action="/courses">
        ##          <label><span class="sr">${_("Search for a course")}</span>
        ##            <input class="search-input" name="search_query" type="text" placeholder="${_("Search for a course")}"></input>
        ##          </label>
        ##          <button class="search-button" type="submit">
        ##            <span class="icon fa fa-search" aria-hidden="true"></span><span class="sr">${_("Search")}</span>
        ##          </button>
        ##        </form>
        ##      </div>
        ##    % endif
	##
        ##  </div>
	##
        ##  <%include file="index_promo_video.html" />
        ##</div>

      </header>
      <%include file="${courses_list}" />

    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="//www.youtube.com/embed/${homepage_promo_video_youtube_id}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
##   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
##   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
